/*
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Quattrocento:wght@400;700&display=swap');

body {
  font-family: 'Outfit', sans-serif !important;
  font-weight: 400;
}


h1, h2, h3 {
  font-family: 'Quattrocento', 'DM Serif Display' !important;
  font-weight: 700 !important;
}

h2, h3, h4, h5, h6 {
  text-decoration: underline;
  text-decoration-color: #e4ca00;
  text-underline-offset: 2px;
  text-decoration-thickness: 4px;
}



strong, b {
  text-decoration: underline;
  text-decoration-color: #e4ca00;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
}

h1 strong, h1 b {
  text-decoration: none;
}

a:hover {
  color: #e4ca00 !important;
}

a{
  transition: all 0.3s ease;
}